<html layout:decorate="~{global/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <div layout:fragment="content">

        <h1 class="font-bold mb-2"><i class="fa-solid fa-user-plus"></i> 회원가입</h1>

        <form th:action class="flex flex-col gap-4" method="POST" onsubmit="submitJoinForm(this); return false;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" name="username" placeholder="아이디를 입력해주세요." class="input input-bordered">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                </label>
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호 확인</span>
                </label>
                <input type="password" name="passwordConfirm" placeholder="비밀번호 확인을 입력해주세요." class="input input-bordered">
            </div>

            <button class="btn btn-primary btn-block" type="submit">
                <i class="fa-solid fa-user-plus"></i> 회원가입
            </button>
        </form>

        <script>
            function submitJoinForm(form) {
                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    toastWarning('아이디를 입력해주세요.');
                    form.username.focus();

                    return;
                }

                form.password.value = form.password.value.trim();

                if (form.password.value.length == 0) {
                    toastWarning('비밀번호를 입력해주세요.');
                    form.password.focus();

                    return;
                }

                form.passwordConfirm.value = form.passwordConfirm.value.trim();

                if (form.passwordConfirm.value.length == 0) {
                    toastWarning('비밀번호 확인을 입력해주세요.');
                    form.passwordConfirm.focus();

                    return;
                }

                if (form.password.value != form.passwordConfirm.value) {
                    toastWarning('비밀번호가 일치하지 않습니다.');
                    form.passwordConfirm.focus();

                    return;
                }

                form.submit();
            }
        </script>

    </div>
</body>
</html>