<!DOCTYPE html>
<html layout:decorate="~{global/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="|게시글 수정 - ${article.id}. ${article.title}|">Title</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="font-bold mb-2">
        <i class="fa-regular fa-pen-to-square"></i> 게시글 수정
    </h1>

    <form th:action class="flex flex-col gap-4" method="POST" onsubmit="submitModifyForm(this); return false;">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-control">
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input type="text" name="title" th:value="${article.title}" placeholder="제목을 입력해주세요." class="input input-bordered">
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea name="body" th:text="${artcile.body}" maxlength="10000" rows="5" placeholder="내용을 입력해주세요."
                      class="textarea textarea-bordered"></textarea>
        </div>

        <button class="btn btn-primary btn-block" type="submit">
            <i class="fa-regular fa-pen-tosquare"></i>게시글 수정
        </button>
    </form>
</div>
<script>
    function submitModifyForm(form){
        form.title.value=form.title.value.trim();

        if(form.title.value.length == 0){
            toastWarning('제목을 입력해주세요.');
            form.title.focus();
            return;
        }

        form.body.value=form.body.value.trim();

        if(form.body.value.length==0){
            toastWarning('내용을 입력해주세요.');
            form.body.focus();

            return;
        }

        form.submit();
    }
</script>
</body>
</html>